NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=your_value_here
CLERK_SECRET_KEY=your_value_here
NEXT_PUBLIC_CLERK_SIGN_IN_URL=your_value_here
NEXT_PUBLIC_CLERK_SIGN_UP_URL=your_value_here
NEXT_PUBLIC_CLERK_AFTER_SIGN_IN_URL=your_value_here
NEXT_PUBLIC_CLERK_AFTER_SIGN_UP_URL=your_value_here
CLOUDFLARE_ACCOUNT_ID=your_value_here
CLOUDFLARE_D1_DATABASE_ID=your_value_here
CLOUDFLARE_API_TOKEN=your_value_here
NEXT_PUBLIC_APP_URL=your_value_here
NEXT_PUBLIC_DASHBOARD_URL=your_value_here
